<div>
    <h2 class="font-bold text-6xl text-gray-700 text-center uppercase my-5">Chat en Vivo</h2>
    <a class="my-3 block text-center font-medium text-lg text-white uppercase bg-gray-700 hover:bg-gray-500 py-2 px-4 rounded cursor-pointer"
        href="https://tokytech.vercel.app">Volver a la página principal</a>
    <hr class="my-5 border-gray-600">
    <input placeholder="Tu mensaje" type="text" id="text"
        class="w-full bg-gray-50 border border-gray-700 text-gray-900 text-sm rounded-lg focus:ring-gray-400 focus:border-gray-400 p-2.5 focus:outline-none">
    <ul id="messages">

    </ul>

</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/chat.js"></script>