<form action="/api/users/{{user._id}}/documents" method="POST" enctype="multipart/form-data" class="w-full max-w-lg bg-white shadow-md rounded-lg px-8 pt-6 pb-8 mb-4">
    <fieldset class="flex flex-col my-3">
        <label for="identification" class="text-gray-700 font-medium mb-2">Subir tu identificación:</label>
        <input type="file" name="identification" id="identification" class="bg-gray-200 appearance-none border-2 border-gray-400 rounded-lg py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
    </fieldset>

    <fieldset class="flex flex-col my-3">
        <label for="addressProof" class="text-gray-700 font-medium mb-2">Subir prueba de domicilio:</label>
        <input type="file" name="addressProof" id="addressProof" class="bg-gray-200 appearance-none border-2 border-gray-400 rounded-lg py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
    </fieldset>

    <fieldset class="flex flex-col my-3">
        <label for="accountStatement" class="text-gray-700 font-medium mb-2">Subir tu estado de cuenta:</label>
        <input type="file" name="accountStatement" id="accountStatement" class="bg-gray-200 appearance-none border-2 border-gray-400 rounded-lg py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
    </fieldset>

    <fieldset class="flex flex-col my-3">
        <label for="profile" class="text-gray-700 font-medium mb-2">Subir tu imagen de perfil:</label>
        <input type="file" name="profile" id="profile" class="bg-gray-200 appearance-none border-2 border-gray-400 rounded-lg py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
    </fieldset>

    <input type="submit" value="Subir" class="mt-3 bg-blue-600 hover:bg-blue-500 text-white font-medium uppercase py-2 px-4 rounded cursor-pointer">
</form>