<div class="min-h-screen w-full flex flex-col items-center justify-center">
    <h1 class="font-bold text-6xl text-gray-700 text-center uppercase my-5">Productos en tiempo real</h1>
    <h2 class="font-semibold text-4xl text-gray-700 text-center uppercase">Agregar nuevo producto</h2>
    <a class="my-3 block text-center font-medium text-lg text-white uppercase bg-gray-700 hover:bg-gray-500 py-2 px-4 rounded cursor-pointer" href="https://tokytech.vercel.app">Volver a la página principal</a>

    <form action="/api/users/{{user._id}}/documents" method="POST" enctype="multipart/form-data" class="flex flex-col my-5 w-full max-w-lg">
        <label for="title" class="mb-2 text-sm font-medium text-gray-900">Título:</label>
        <input 
            placeholder="Ej: CeraVe Retinol Serum for Post-Acne Marks and Skin Texture"
            type="text"
            id="title"
            name="title"
            class="w-full bg-gray-50 border border-gray-700 text-gray-900 text-sm rounded-lg focus:ring-gray-400 focus:border-gray-400 p-2.5 focus:outline-none">
        
        <label for="description" class="mb-2 text-sm font-medium text-gray-900">Descripción:</label>
        <textarea
            placeholder="Describe el producto"
            id="description" 
            name="description"
            class="w-full bg-gray-50 border border-gray-700 text-gray-900 text-sm rounded-lg focus:ring-gray-400 focus:border-gray-400 p-2.5 focus:outline-none resize-none"></textarea>
        
        <label for="price" class="mb-2 text-sm font-medium text-gray-900">Precio:</label>
        <input
            placeholder="Ej: 250"
            type="text"
            id="price"
            name="price"
            class="w-full bg-gray-50 border border-gray-700 text-gray-900 text-sm rounded-lg focus:ring-gray-400 focus:border-gray-400 p-2.5 focus:outline-none">
        
        <label for="code" class="mb-2 text-sm font-medium text-gray-900">Código:</label>
        <input
            placeholder="Ej: S73036S"
            type="text"
            id="code"
            name="code"
            class="w-full bg-gray-50 border border-gray-700 text-gray-900 text-sm rounded-lg focus:ring-gray-400 focus:border-gray-400 p-2.5 focus:outline-none">
        
        <label for="stock" class="mb-2 text-sm font-medium text-gray-900">Stock:</label>
        <input
            placeholder="Ej: 82"
            type="number"
            id="stock"
            name="stock"
            class="w-full bg-gray-50 border border-gray-700 text-gray-900 text-sm rounded-lg focus:ring-gray-400 focus:border-gray-400 p-2.5 focus:outline-none">
        
        <label for="category" class="mb-2 text-sm font-medium text-gray-900">Categoría:</label>
        <input
            placeholder="Ej: belleza-y-cuidado-personal"
            type="text"
            id="category"
            name="category"
            class="w-full bg-gray-50 border border-gray-700 text-gray-900 text-sm rounded-lg focus:ring-gray-400 focus:border-gray-400 p-2.5 focus:outline-none">
        
        <label for="thumbnails" class="mb-2 text-sm font-medium text-gray-900">Imágenes (URL separadas por coma):</label>
        <textarea
            placeholder="Ej: https://m.media-amazon.com/images/I/71tzcOuInxL._SY450_.jpg, ..."
            id="thumbnails"
            name="thumbnails"
            class="w-full bg-gray-50 border border-gray-700 text-gray-900 text-sm rounded-lg focus:ring-gray-400 focus:border-gray-400 p-2.5 focus:outline-none resize-none"></textarea>

        <input type="submit" value="Enviar" class="mt-3 bg-gray-700 hover:bg-gray-500 text-white font-medium uppercase py-2 px-4 rounded cursor-pointer">
    </form>

    <div>
        <h1 class="font-semibold text-4xl text-gray-700 text-center uppercase my-5">Productos</h1>
        <ul id="productos" class="mt-4">

        </ul>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/realTimeProducts.js"></script>