<div class="min-h-screen flex flex-col justify-center items-center bg-gray-100">
    <p>Escribe el correo electrónico de la cuenta para recuperar la contraseña. Debes tener acceso a este correo electrónico.</p>
    <form action="/api/users/recuperarcontraseña" method="POST" class="flex flex-col mt-5 w-full max-w-md">
        <label for="email" class="mb-2 text-sm font-medium text-gray-900">Correo electrónico:</label>
        <input 
                placeholder="Tu correo electrónico..."
                type="text"
                id="email"
                name="email"
                class="w-full bg-gray-50 border border-gray-700 text-gray-900 text-sm rounded-lg focus:ring-gray-400 focus:border-gray-400 p-2.5 focus:outline-none">
        <input type="submit" value="Enviar" class="mt-3 bg-gray-700 hover:bg-gray-500 text-white font-medium uppercase py-2 px-4 rounded cursor-pointer">
    </form>
    <a class="mt-2 text-blue-700 font-medium cursor-pointer" href="/login">Si no deseas recuperar tu contraseña, ve al inicio de sesión</a>
</div>