<div class="min-h-screen flex flex-col justify-center items-center bg-gray-100">
    <form action="/api/users/actualizarpwd" method="POST" class="flex flex-col mt-5 w-full max-w-md">
        <label for="password" class="mb-2 text-sm font-medium text-gray-900">Contraseña nueva: </label>
        <input 
            placeholder="Tu nueva contraseña..."
            type="password"
            id="password"
            name="password"
            class="w-full bg-gray-50 border border-gray-700 text-gray-900 text-sm rounded-lg focus:ring-gray-400 focus:border-gray-400 p-2.5 focus:outline-none">
        
        <input type="hidden" name="token" value={{token}}>
        <input type="submit" value="Enviar" class="mt-3 bg-gray-700 hover:bg-gray-500 text-white font-medium uppercase py-2 px-4 rounded cursor-pointer">
    </form>
</div>