{{> main}}

<section>
    <h1>Carrito de Compras</h1>
    
    <ul>
        {{#each cart.products}}
            <li>
                <strong>{{this.product.title}}</strong>
                <p>Cantidad: {{this.quantity}}</p>
            </li>
        {{/each}}
    </ul>
</section>